
.interface-changer{
    padding: 10px;
    border-color: #917b5c;
    background-color: #917b5c;
}
.interface-main{
        
    padding: 10px;
    /* border-color: #917b5c; */
    background-color: #f8d3a0;
}
/* .table-usr{
    border-color: rgb(0, 0, 0);
    width: 100%;
} */

div.usr-panel{
    margin-top: 25px;
    padding: 10px;
    border: 2px solid #917b5c;
    display: none;
}

div.adm-panel{
    margin-top: 25px;
    padding: 10px;
    border: 2px solid #917b5c;
    display: none;
}

.table-div{
    height: 500px;
    display: block;
    overflow-y: scroll;
    border: 2px solid #917b5c;
}

.btn.btn-reset{
    background-color:#ff6666;
}

table.table tr {
    border-color: #917b5c;
}

/****************************************************/
body{
    background-color: #dfbf90;
}
td:first-child{
    display: none;
} 


button.btn{
    background-color: #fff1dd;
}