
.interface-changer{
    padding: 10px;
    border-color: #917b5c;
    background-color: #917b5c;
}
.interface-main{
        
    padding: 10px;
    /* border-color: #917b5c; */
    background-color: #f8d3a0;
}
/* .table-usr{
    border-color: rgb(0, 0, 0);
    width: 100%;
} */

.usr-panel{
    margin-top: 25px;
    padding: 10px;
    border: 2px solid #917b5c;
    display: none;
}

.adm-panel{
    margin-top: 25px;
    padding: 10px;
    border: 2px solid #917b5c;
    display: none;
}

.table-div{
    height: 500px;
    display: block;
    overflow-y: scroll;
    /* border: 2px solid #917b5c; */
}

.container-fluid.adm-add-usr{
    background-color: rgb(252, 216, 166);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.container-fluid.adm-edt-usr{
    background-color: rgb(252, 216, 166);
    margin:10px,0px,10px,0px;
    padding-bottom: 10px;
}


/****************************************************/
body{
    background-color: #dfbf90;
}
td:first-child{
    display: none;
} 

.btn.btn-user{
    background-color: #fff1dd;
}
.btn.btn-admin{
    background-color: #fff1dd;
}
.btn.btn-reset{
    background-color:#ff6666;
}

table.table tr {
    border-color: black;
}
button.btn{
    background-color: #fff;
}